.cart {
    &__header {
        height: 60px;
        width: 100%;
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
            margin-inline: 30px;
        }
    }
    &__footer {
        height: 120px;
        bottom: 0;
        position: absolute;
        background: #fff;
        width: 100%;
    }
    &__checkout {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        height: 40px;
        align-items: center;
        background-color: #ff2b5f;
        padding-inline: 10px;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
    }
    &__promo--cont {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    &__close {
        cursor: pointer;
    }
    &__content {
        height: 535px;
        overflow: scroll;
    }
}