.cardwrapper {
    max-width: 300px;
    margin: 10px 10px;
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 8px;
    transition: all 0.2s linear;
}

.cardwrapper:hover {
    box-shadow: 10px 10px 10px #e2e2e2;
}