.modal {
    &__backdrop {
        position: fixed;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        background: #333;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        width: 500px;
        height: 700px;
        background-color: #f1f1f1;
        position: fixed;
        top: 50%;
        z-index: 1000;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}