.header {
    &__container {
        height: 60px;
        background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 3px 10px #c1c1c1;
        position: fixed;
        top: 0;
        width: 100%;
    }
    &__navlist {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        &--item {
            list-style-type: none;
            margin: 10px;
            cursor: pointer;
        }
    }
}
