.header {
    &__container {
        height: 60px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 3px 10px #c1c1c1;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    &__logo {
        height: 50px;
        margin: 5px;
    }
    &__navlist {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        &--item {
            list-style-type: none;
            margin: 10px;
            cursor: pointer;
        }
    }
    &__loggin--cont {
        a {
            margin: 8px;
            cursor: pointer;
        }
    }
    &__cartdata {
        margin-top: 4px;
        button {
            border: none;
            padding: 4px;
        }
        svg {
            fill: #ff2b5f;
            height: 25px;
            width: 25px;
        }
        span {
            vertical-align: super;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
    @media screen and (max-width: 768px) {
        &__loggin--cont {
            display: none;
        }
    }
}
