.cartItem {
    &__container {
        background-color: #fff;
        padding: 15px;
        margin-block: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__image--cont {
        img {
            width: 100px;
        }
    }
    &__content--btn {
        margin-top: 15px
    }
    &__content--curCount,
    &__content--asterik {
        margin-inline: 10px;
    }
}